[submodule "libs/termcolor"]
	path = libs/termcolor
	url = https://github.com/ikalnytskyi/termcolor
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest/commit/58d77fa8070e8cec2dc1ed015d66b454c8d78850
